<!doctype html>
<html lang="vi">

<head>
    <!-- <title th:text="${categorys[categorysId-1].name}"></title> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <header class="p-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="#" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    <img th:src="@{/images/1.png}" width="32" height="32" alt="">
                </a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 link-secondary">Blog</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Thông Tin</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Hỏi Đáp</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Trợ Giúp</a></li>
                </ul>
                <form th:action="@{/blog/index/search}" method="GET" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="text" name="keyword" class="form-control" placeholder="Tìm kiếm" aria-label="Search">
                </form>
                <div class="dropdown text-end">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img th:src="@{/images/1.png}" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
                        <li><a class="dropdown-item" href="#">Thông tin</a></li>
                        <li><a class="dropdown-item" href="#">Bảo mật</a></li>
                        <li><a class="dropdown-item" href="#">Cài đặt</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Đăng ký</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- <hr> -->
    <div class="nav-scroller py-1 bg-primary">
        <nav class="container nav d-flex justify-content-between" th:object="${categorys}">
            <a type="buttom" class="btn btn-primary p-2 link-light" method="GET"
                th:href="@{/blog/v1/categorys/articles/{id}(id=${category.id})}" th:each="category : ${categorys}"
                th:text="${category.name}" th:value="${category.id}"></a>
            <!-- <a class="btn btn-primary p-2 dropdown-toggle text-light" data-bs-toggle="dropdown"
                    aria-expanded="false" th:if="${categorys[12].id == 13}" th:href="@{/api/v1/categorys/{id}(id=${categorys[12].id})}" th:text="${categorys[12].name}"
                    th:value="${categorys[12].id}">
                </a>
                <ul class="dropdown-menu" th:if="${categorys[12].id == 13}">
                    <li><a class="btn btn-primary dropdown-item" href="#">Hokkaido</a></li>
                    <li><a class="btn btn-primary dropdown-item" href="#">Tokyo</a></li>
                    <li><a class="btn btn-primary dropdown-item" href="#">Saitama</a></li>
                    <li><a class="btn btn-primary dropdown-item" href="#">Chiba</a></li>
                    <li><a class="btn btn-primary dropdown-item" href="#">Oosaka</a></li>
                    <li><a class="btn btn-primary dropdown-item" href="#">Kyoto</a></li>
                    <li><a class="btn btn-primary dropdown-item" href="#">Nagoya</a></li>
                    <li><a class="btn btn-primary dropdown-item" href="#">Kyushyu</a></li>
                </ul> -->
        </nav>
    </div>
    <div class="bg-light">
        <nav class="container text-truncate">
            <a class="link-dark fw-bolder">Ngay bây giờ　</a>
            <a href="#" class="" style="color: rgb(126, 121, 121);">tìm kiếm 1　</a>
            <a href="#" class="" style="color: rgb(126, 121, 121);">tìm kiếm 2　</a>
            <a href="#" class="" style="color: rgb(126, 121, 121);">tìm kiếm 3　</a>
            <a href="#" class="" style="color: rgb(126, 121, 121);">tìm kiếm 4　</a>
            <a href="#" class="" style="color: rgb(126, 121, 121);">Xem thêm</a>
        </nav>
    </div>
    <div class="container">
        <div class="py-2">
            <div class="row">
                <div class="col-md-8 pt-2">
                    <div class="row">
                        <div class="col-md-12 py-0">
                            <a class="text-black text-muted text-decoration-underline" href="#">Blog</a> >
                            <!-- <a class="text-black text-muted text-decoration-underline" href="#"
                                th:text="${categorys[categorysId-1].name}"></a> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="py-2">
                            <span class="text-bg-danger fs-5">Tin nóng</span>
                            <a href="#" class="fw-semibold link-dark" th:each="hotArticle: ${hotArticles}"
                                th:text="${hotArticle.shortTitle}"></a>
                        </div>
                        <hr>
                        <div class="fw-bolder fs-4">Nổi Bật</div>
                        <div>Đây là những thông tin nổi bật nhất đến từ đất nước Nhật Bản</div>
                        <hr>
                    </div>
                    <div class="row" th:each="latestOneArticle: ${latestOneArticles}">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="position-absolute top-0 end-0">
                                    <span class="badge bg-danger text-light">Mới</span>
                                </div>
                                <img th:src="@{'/images/' + ${latestOneArticles.urlImage} + ''}" class="card-img-top"
                                    alt="...">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="fw-bolder">
                                <a th:href="@{/blog/v1/categorys/articles/posts/{articlesId}(articlesId=${latestOneArticle.id})}"
                                    method="GET" class="link-dark fs-3" th:text="${latestOneArticles.shortTitle}"></a>
                            </div>
                            <p th:text="${latestOneArticle.shortConTent}"></p>
                            <div class="text-end" style="font-size: x-small;"><span
                                    th:text="'cre: ' + ${#temporals.format(latestOneArticles.createDay, 'dd-MM-yyyy HH:mm')}"></span>
                            </div>

                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-md-6" th:each="latestSixArticle: ${latestSixArticles}">
                            <div class="row">
                                <div class="col-4 d-none d-lg-block">
                                    <div class="card">
                                        <img th:src="@{'/images/' + ${latestSixArticle.urlImage} + ''}"
                                            class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="fw-bolder">
                                        <a th:href="@{/blog/v1/categorys/articles/posts/{articlesId}(articlesId=${latestSixArticle.id})}"
                                            method="GET" class="link-dark" th:text="${latestSixArticle.shortTitle}"></a>
                                    </div>
                                    <p th:text="${latestSixArticle.shortConTent}" class="text-truncate fs-6"></p>
                                    <div class="text-end" style="font-size: x-small"
                                        th:text="'cre: ' + ${#temporals.format(latestSixArticle.createDay, 'dd-MM-yyyy HH:mm')}">
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div class="col-md-3" th:each="latestEightArticle: ${latestEightArticles}">
                            <div class="">
                                <img th:src="@{'/images/' + ${latestEightArticle.urlImage} + ''}" class="card-img-top"
                                    alt="...">
                                <div class="card-body">
                                    <div class="fw-bolder text-truncate">
                                        <a href="#" class="link-dark" th:text="${latestEightArticle.shortTitle}"></a>
                                    </div>
                                    <p th:text="${latestEightArticle.conTent}" class="text-truncate"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div class="col-md-6" th:each="latestSixXArticle: ${latestSixXArticles}">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <img th:src="@{'/images/' + ${latestSixXArticle.urlImage} + ''}"
                                            class="card-img-top" alt="...">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="fw-bolder">
                                        <a href="#" class="link-dark" th:text="${latestSixXArticle.shortTitle}">
                                        </a>
                                    </div>
                                    <p th:text="${latestSixXArticle.shortConTent}"></p>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pt-2">
                    <div class="row">
                        <div class="col pt-2">
                            <input type="search" class="form-control form-control-dark" placeholder="検索"
                                aria-label="Search">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <p>Top Doanh Số</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" th:each="product: ${products}">
                            <div class="">
                                <a href="#">
                                    <img th:src="@{'/images/' + ${product.urlImage} + '.png'}" class="card-img-top"
                                        alt="#">
                                </a>
                                <div class="card-body">
                                    <div class="fw-bolder text-truncate">
                                        <a href="#" class="link-dark"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-3 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-3 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-3 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-3 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-3 text-muted">About</a></li>
        </ul>
        <p class="text-center text-muted">© 2021 Company, Inc</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>