<!doctype html>
<html lang="vi">

<head>
    <title>ADMIN - CURD</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="//cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>
</head>

<body>
    <header>
        <div class="">
            <header class="container blog-header mt-2 mb-2">
                <div class="row flex-nowrap justify-content-center align-items-center">
                    <div class="text-center">
                        <a class="blog-header-logo text-dark p-1 fw-bolder fs-2 text-decoration-none"
                        th:href="@{/admin/blog/index}" method="GET">Blog - ADMIN</a>
                    </div>
                </div>
            </header>
            <!-- <hr> -->
            <div class="nav-scroller py-1 bg-primary">
                <nav class="container nav d-flex justify-content-center">
                    <a th:href="@{/admin/blog/categorys/create}" type="buttom" class="btn btn-primary p-2 link-light" method="GET">Chủ Đề</a>
                    <a th:href="@{/admin/blog/articles/create}" type="buttom" class="btn btn-primary p-2 link-light" method="GET">Bài Viêt</a>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-8 mt-5 mb-5 card">
                    <div>
                        <h3 class="text-center mb-3 mt-3 fs-5"> Sừa Bài Viết</h3>
                        <p class="text-success text-center" th:text="${susccessMessageUpdate}"
                            th:if="${susccessMessageUpdate}"></p>
                        <form th:action="@{/admin/blog/update/{articlesId}(articlesId=${articles.Id})}" method="POST"
                            enctype="multipart/form-data">
                            <div class="input-group has-validation mb-3">
                                <label for="" class="input-group-text">Thể loại</label>
                                <select class="form-select is-invalid" aria-label="Thể loại" name="category"
                                    placeholder="">
                                    <option th:each="category: ${allCategorys}" th:text="${category.name}"
                                        th:value="${category.id}"
                                        th:attr="selected=${category.id == articles.category.id}">
                                    </option>
                                </select>
                            </div>
                            <div class="input-group has-validation mb-3">
                                <label for="" class="input-group-text">Độ nóng</label>
                                <div class="form-floating is-invalid">
                                    <input type="number" class="form-control is-invalid" max="5" min="1"
                                        id="hotArticles" name="hotArticles" placeholder="1" required
                                        th:value="${articles.hotArticles}">
                                    <label for="floatingInputGroup2">Cấp độ từ 1 - 5</label>
                                </div>
                            </div>
                            <div class="input-group has-validation mb-3">
                                <label for="" class="input-group-text">Tiêu đề chính</label>
                                <div class="form-floating is-invalid">
                                    <textarea class="form-control is-invalid" id="title" name="title"
                                        aria-label="With textarea" placeholder="1"
                                        th:text="${articles.title}"></textarea>
                                    <label for="floatingInputGroup2">Nhập tiêu đề chính</label>
                                </div>
                            </div>
                            <div class="input-group has-validation mb-3">
                                <label for="" class="input-group-text">Tiêu đề ngắn</label>
                                <div class="form-floating is-invalid">
                                    <textarea class="form-control is-invalid" id="shortTitle" name="shortTitle"
                                        aria-label="With textarea" placeholder="1"
                                        th:text="${articles.shortTitle}"></textarea>
                                    <label for="floatingInputGroup2">Nhập tiêu đề ngắn</label>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <img th:src="@{'/images/' + ${articles.urlImage}}" alt="" style="height: 50px;"
                                    class="">
                                <input class="form-check-input ms-2" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label ms-1" for="flexCheckDefault">Xóa ảnh</label>
                            </div>

                            <div class="input-group has-validation mb-3">
                                <label for="" class="input-group-text">Ảnh</label>
                                <input type="file" class="form-control" id="urlImage" name="urlImage">
                            </div>
                            <div class="input-group has-validation mb-3">
                                <div class="form-floating is-invalid">
                                    <textarea class="form-control is-invalid" id="conTent" name="conTent"
                                        th:text="${articles.conTent}"></textarea>
                                </div>
                            </div>
                            <div class="text-center mb-3">
                                <button type="submit" class="btn btn-primary" th:if="${update}" method="GET" style="font-size: small;">Lưu bài viết</button>
                                <a th:href="@{/admin/blog/articles/create}" method="GET" th:if="${return}"
                                    class="btn btn-primary" style="font-size: small;">Quay lại
                                </a>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <script>
        CKEDITOR.replace('conTent');
    </script>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>