<!doctype html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.3 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</head>

<body>
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-2 mt-5">
                    <h2 class="heading-section">Khách</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-5">
                    <div class="bg-light p-4 p-md-5">
                        <h4 class="text-center p-3">Lấy Lại Mật Khẩu</h4>
                        <p class="text-danger text-center" th:text="${error}" th:if="${error}"></p>
                        <p class="text-danger text-center" th:text="${errorMessage}" th:if="${errorMessage}"></p>
                        <p class="text-success text-center" th:text="${successMessageForgot}"
                            th:if="${successMessageForgot}"></p>
                        <p class="text-danger text-center" th:text="${errorMessageReset}" th:if="${errorMessageReset}">
                        </p>
                        <form th:action="@{/blog/forgot-password-reset}" method="POST" class="">
                            <div class="input-group has-validation mb-3">
                                <div class="form-floating is-invalid">
                                    <input type="text" class="form-control is-invalid" id="confirmationCode"
                                        name="confirmationCode" placeholder="1" required maxlength="6" minlength="6">
                                    <label for="">Nhập mã xác nhận</label>
                                </div>
                            </div>
                            <div class="input-group has-validation mb-3">
                                <div class="form-floating is-invalid">
                                    <input type="password" class="form-control is-invalid" id="newPassword"
                                        name="newPassword" placeholder="1" required
                                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                                    <label for="">Nhập mật khẩu mới</label>
                                </div>
                            </div>
                            <div class="input-group has-validation mb-3">
                                <div class="form-floating is-invalid">
                                    <input type="password" class="form-control is-invalid" id="newConfirmedPassword"
                                        name="newConfirmedPassword" placeholder="1" required
                                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                                    <label for="">Nhập lại mật khẩu mới</label>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3"
                                    style="font-size: 20px;">Gửi</button>
                            </div>
                            <div class="form-group d-flex text-center">
                                <div class="w-50 text-md-right">
                                    <a th:href="@{/blog/login}" class="text-decoration-none">Quay lại</a>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a th:href="@{/blog/register}" class="text-decoration-none">Đăng ký</a>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a th:href="@{/blog/login}" class="text-decoration-none">Đăng nhập</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
</body>

</html>